.vscode/c_cpp_properties.json
.vscode/settings.json
build/doctrees/environment.pickle
build/doctrees/index.doctree
build/html/.buildinfo
build/html/.buildinfo.bak
build/html/genindex.html
build/html/index.html
build/html/objects.inv
build/html/search.html
build/html/searchindex.js
build/html/_sources/index.rst.txt
build/html/_static/_sphinx_javascript_frameworks_compat.js
build/html/_static/alabaster.css
build/html/_static/basic.css
build/html/_static/custom.css
build/html/_static/doctools.js
build/html/_static/documentation_options.js
build/html/_static/file.png
build/html/_static/github-banner.svg
build/html/_static/graphviz.css
build/html/_static/jquery.js
build/html/_static/language_data.js
build/html/_static/minus.png
build/html/_static/plus.png
build/html/_static/pygments.css
build/html/_static/searchtools.js
build/html/_static/sphinx_highlight.js
build/html/_static/css/badge_only.css
build/html/_static/css/theme.css
build/html/_static/css/fonts/fontawesome-webfont.eot
build/html/_static/css/fonts/fontawesome-webfont.svg
build/html/_static/css/fonts/fontawesome-webfont.ttf
build/html/_static/css/fonts/fontawesome-webfont.woff
build/html/_static/css/fonts/fontawesome-webfont.woff2
build/html/_static/css/fonts/lato-bold-italic.woff
build/html/_static/css/fonts/lato-bold-italic.woff2
build/html/_static/css/fonts/lato-bold.woff
build/html/_static/css/fonts/lato-bold.woff2
build/html/_static/css/fonts/lato-normal-italic.woff
build/html/_static/css/fonts/lato-normal-italic.woff2
build/html/_static/css/fonts/lato-normal.woff
build/html/_static/css/fonts/lato-normal.woff2
build/html/_static/css/fonts/Roboto-Slab-Bold.woff
build/html/_static/css/fonts/Roboto-Slab-Bold.woff2
build/html/_static/css/fonts/Roboto-Slab-Regular.woff
build/html/_static/css/fonts/Roboto-Slab-Regular.woff2
build/html/_static/fonts/Lato/lato-bold.eot
build/html/_static/fonts/Lato/lato-bold.ttf
build/html/_static/fonts/Lato/lato-bold.woff
build/html/_static/fonts/Lato/lato-bold.woff2
build/html/_static/fonts/Lato/lato-bolditalic.eot
build/html/_static/fonts/Lato/lato-bolditalic.ttf
build/html/_static/fonts/Lato/lato-bolditalic.woff
build/html/_static/fonts/Lato/lato-bolditalic.woff2
build/html/_static/fonts/Lato/lato-italic.eot
build/html/_static/fonts/Lato/lato-italic.ttf
build/html/_static/fonts/Lato/lato-italic.woff
build/html/_static/fonts/Lato/lato-italic.woff2
build/html/_static/fonts/Lato/lato-regular.eot
build/html/_static/fonts/Lato/lato-regular.ttf
build/html/_static/fonts/Lato/lato-regular.woff
build/html/_static/fonts/Lato/lato-regular.woff2
build/html/_static/fonts/RobotoSlab/roboto-slab-v7-bold.eot
build/html/_static/fonts/RobotoSlab/roboto-slab-v7-bold.ttf
build/html/_static/fonts/RobotoSlab/roboto-slab-v7-bold.woff
build/html/_static/fonts/RobotoSlab/roboto-slab-v7-bold.woff2
build/html/_static/fonts/RobotoSlab/roboto-slab-v7-regular.eot
build/html/_static/fonts/RobotoSlab/roboto-slab-v7-regular.ttf
build/html/_static/fonts/RobotoSlab/roboto-slab-v7-regular.woff
build/html/_static/fonts/RobotoSlab/roboto-slab-v7-regular.woff2
build/html/_static/js/badge_only.js
build/html/_static/js/theme.js
build/html/_static/js/versions.js
